<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yoyoMessenger.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
				<key>dateExpires</key>
				<string>06/12/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ASBPlayerScrubbing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ASMediaFocusManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CLImageEditor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JSQSystemSoundPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C23C72C9ED77C7C95E7B882E0F44AEE8705B757</string>
						<key>dateExpires</key>
						<string>06/12/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YBJ9AM24KD.com.yoyoMessenger3</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YBJ9AM24KD</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>yoyoMessenger.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9dc36348-b0d5-4778-a51d-b1b560e32a42</string>
				<key>name</key>
				<string>yoyo_dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YBJ9AM24KD</string>
				<key>name</key>
				<string>Brendon  Hitchinson</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
